<!DOCTYPE html>
<html>
  <head>
    <title>Node.js REST</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>
    <h1></h1>
    <div id="Result"></div>
    <div class="center">
      <div class="container">
        <div class="row">
          <p> <p> Get all users ,method <b>GET <%= host %>/api/v0/users/</b> </p><p id="GetAll" class="btn btn-primary">Try it</p></p>

          <p> <p>Get user by name, method <b>GET <%= host %>/api/v0/user/:name/</b></p><p id="GetByName" class="btn btn-primary">Try it</p></p>

          <p> <p>Create user, method <b>POST <%= host %>/api/v0/user</b></p><p id="CreateUser" class="btn btn-primary">Try it</p></p>

          <p> <p>Update user <b>PATCH http://noderest.mpbat.xyz/api/v0/user/:name</b></p><p id="UpdateUser" class="btn btn-primary">Try it</p></p>

          <p>Delete user, method <b>DELETE <%= host %>/api/v0/user/:name</b></p><p id="DeleteUser" class="btn btn-primary">Try it</p></p>
        </div>
      </div>
    </div>

    <!-- Ask user -->
    <div class="modal fade" id="Modal_ask_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

          </div>
          <div class="modal-body">
              <span id="question"></span>
            <label for="TextToSearch">Имя</label>
              <input id="TextToSearch" type="text" class="form_control"></input>
              <div style="clear: both; float: none;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm good" id="Search">Искать</button>
            <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>
    <!--  Find User Response -->
    <div class="modal fade" id="Modal_Find_User" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

          </div>
          <div class="modal-body">

            <div id="question">21</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Create user --->
    <div class="modal fade" id="Modal_Create_User" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

          </div>
          <div class="modal-body">

            <span id="question"></span>
            <label class="control-label" for="name">Имя</label>
            <input id="name" type="text" class="form_control"></input></br>

            <label class="control-label" for="lastname">Фамилия</label>
            <input id="lastname" type="text" class="form_control"></input>
            <div style="clear: both; float: none;"></div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm good" id="AddUser">Добавить</button>
            <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>
  <!--   User Response -->
    <div class="modal fade" id="Modal_User_Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

          </div>
          <div class="modal-body">

            <div id="question">213</div>
          </div>
        </div>
      </div>
    </div>
  </body>

<!-- Update User -->
  <div class="modal fade" id="Modal_Update_User" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        </div>
        <div class="modal-body">

          <span id="question"></span>
          <label for="oldName">Имя для поиска</label>
          <input id="oldName" type="text" class="form_control"></input></br>
          <label class="control-label" for="name">Имя</label>
          <input id="name" type="text" class="form_control"></input></br>

          <label class="control-label" for="lastname">Фамилия</label>
          <input id="lastname" type="text" class="form_control"></input>
          <div style="clear: both; float: none;"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good" id="UpdateUserBtn">Обновить</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete User -->
  <div class="modal fade" id="Modal_Delete_User" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        </div>
        <div class="modal-body">

          <span id="question"></span>
          <label for="DelName">Имя для удаления</label>
          <input id="DelName" type="text" class="form_control"></input></br>
          <div style="clear: both; float: none;"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good" id="DeleteUserBtn">Удалить</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>
</html>
